body {
    font-family: Arial, sans-serif;
    background-image: url('knight-7512342_1920.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.h1_text {
    color: white;
}

.container {
    text-align: center;
}

.verification-box {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.verification-box:hover {
    background-color: #0056b3;
}
